.form-container{
  border: solid 2px #733381;
  padding: 30px;
  border-radius: 16px;

  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

button[type=submit]{
  background-color: #733381;
  border-color: #733381;
  margin-right: 6px;
}

button[type=button]{
  border-color: #733381;
  color: #733381;
}

button[type=button]:hover{
  border-color: #733381;
  color: white;
  background-color: #733381;
}
