.quote-image img{
  height: 12vh;
  width: 8vw;
  padding-left: 5px;
}

.quote-card {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: #f9a932;
  padding: 2%;
  border-radius: 20px;

  margin-top: 15px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

  width: 40vw;
}

.quote-content{
  width: 80%;
}

