<a style="cursor: pointer" (click)="onSelectQuote()">
  <div class="quote-card">
    <div class="quote-content">
      <span class="badge badge-warning" style="background-color: #733381; color: azure;">{{quote.tag}}</span>
      <h5 style="font-weight: 600; font-family: 'Patrick Hand', cursive;">{{quote.content}}</h5>
      <p>--{{quote.author}}</p>
    </div>

    <div class="quote-image">
      <img [src]="quote.imagePath" [alt]="'an image illustrates the quote: ' + quote.content">
    </div>
  </div>
</a>
