.quote-image{
  height: 40vh;
  width: 30vw;
  margin-top: 10px;
  margin-bottom: 20px;
}

blockquote{
  background-color: rgb(241, 241, 239);

  padding: 20px;
  width: 30vw;
  margin: 0px;

  font-family: 'Patrick Hand';
  font-size: 26px;

}

.quote-detail{
  background-color: #ef5734;
  background-image: linear-gradient(315deg, #ef5734 0%, #ffcc2f 74%);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  border-radius: 10px;
}

.control{
  background-color: rgb(241, 241, 239);
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
